<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.9" targetFramework="wp8" />
  <package id="NControl" version="0.6.24" targetFramework="wp8" />
  <package id="NGraphics" version="0.2.2" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="wp8" />
</packages>